/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* common styles */

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}


.container {

    padding: 0px 120px;
    margin-top: 50px;
    width: 1015px;


}

/* banner style  */

.banner {
    background-color: black;
    padding: 0 106px;
    display: flex;
    border-radius: 30px;
}

.banner .writing {
    padding: 111px 0;
    width: 531px;
}

.banner .writing h1 {
    color: white;
    font-size: 70px;
    font-weight: 700;
    width: 531px;
    margin: 0;
}


.banner .writing p {
    color: white;
    font-weight: 400;
    font-size: 16px;
    width: 495px;


    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 49px;
}

.banner .writing button {
    background-color: red;
    color: white;
    padding: 25px;
    border-radius: 5px;

    font-family: 'Roboto', sans-serif;

    font-weight: 400;
    font-size: 20px;
}

.banner .writing .fa-greater-than {
    margin-left: 10px;
}



.banner .picture img {

    width: 310px;
    height: 673px;
    position: relative;
    top: 9.9%;
    left: -2%;

}

.banner:hover .picture img {
    animation: anim 2s linear infinite;

    animation-direction: alternate;


}

/* match style  */

.match {
    margin-top: 80px;
    display: flex;
}

.match .options {
    width: 19%;
    height: 1%;
    background-color: black;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 2%;
    display: flex;
    flex-direction: column;

    border-radius: 10px;
}


.match .options button {
    margin-bottom: 30px;


    background-color: white;

    border-radius: 10px;
    padding: 17px 0;





}

.match .options a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}



.match .options .red-button {

    background-color: red;

}

.match .options .red-button a {
    color: white;
}



.match .blogs {
    width: -1px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}


.match .blogs .blog {
    border: 0.7px solid #E8E8E8;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 10px;

}

.match .blogs .blog .flags {
    display: flex;
}

.match .blogs .blog h3 {
    text-align: center;
}

.match .blogs .blog p {
    text-align: center;
    color: #4D4D4D;
}



/* animation code  */

@keyframes anim {
    0% {
        left: 0px;
    }

    50% {
        left: 60px;
    }

    100% {
        left: 120px;
    }
}


/* footer styles  */

footer {
    margin-top: 130px;
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: black;
    text-align: center;
}

footer h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: white;

}

footer hr {
    width: 1015px;
    margin-bottom: 50px;

}

footer .all {
    display: flex;
    justify-content: center;
}

footer .all p {
    margin-right: 30px;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;


    color: #B9B9B9;

}